* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
}

.container {
    width: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 40px 0;
    border-radius: 5px;

    .user-login {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 30px;
        }

        .input {
            display: flex;
            flex-direction: column;
            gap: 8px;

            label span {
                color: red;
            }

            input {
                padding: 10px;
                border: 1px solid black;
                width: 300px;
                border-radius: 5px;
            }

        }

        .login {
            cursor: pointer;
            background-color: blue;
            border: 1px solid blue;
            color: white;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            font-size: 20px;
            transition: all .3s ease;
            &:hover{
                opacity: .8;
            }
        }
    }
}